.container{
    display: flex;
    justify-content: center;
    height: 100vh;
}

.trello{
    width: 100%;
    height: 100%;
}

.trello__header{
    display: flex;
    justify-content: space-between;
}

.trello__cards{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.trello__column{
    height: 90vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #c2ffb1;
}

.trello__todo-container{
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.trello__inprogress-container{
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}

.trello__done-container{
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
}
